{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <form>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Paste Your Tweet URL</legend>
          <div class="form-group">
            <!-- Form Logic for Tweet URL Goes Here -->
            {{ form.tweet_url.label(class="form-control-label") }}
            <!-- Error Handling Goes Here -->
            {% if form.tweet_url.errors %}
              {{ form.tweet_url(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.tweet_url.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.tweet_url(class="form-control form-control-lg") }}
            {% endfor %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
{% endblock content %}