{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ playlist.playlist_id }}</a>
                <small class="text-muted">{{ playlist.tweet_id }}</small>
            </div>
            <h2 class="article-title">{{ playlist.playlist_id }}</h2>
            <small class="text-muted">{{ playlist.tweet_id }}</small>
            {% for song in playlist %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="#">{{ song.song_id }}</a>
                        </div>
                        <p class="article-content">{{ song.song_id }}</p>
                        <a class="article-content" href="#">{{ song.song_uri }}</a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </article>
    
{% endblock content %}