{% extends "layout.html" %} {% block content %}
<article class="media content-section">
  <div style="display: flex; flex-direction: column">
    <div>
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">{{ songs[0]['tweet_text'] }}</p>
        &mdash; {{ songs[0]['tweet_author'] }}
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
    <p>Success! We've created a playlist for you with {{ song_count }} {{ genre }} songs.</p>
    <form method="POST" action="">
      <p>Want some different songs?</p>
      {{ form.hidden_tag() }}
      <div class="form-group">
        <!-- Form Logic for Tweet URL Goes Here -->
        {{ form.genre.label(class="form-control-label") }}
        <!-- Error Handling Goes Here -->
        {% if form.genre.errors %}
          {{ form.genre(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.genre.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.genre(class="form-control form-control-lg") }}
        {% endif %}
      </div>          
    <div class="form-group">
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
    <div class="media-body">
      {% for song in songs %}
        <iframe
          src="https://open.spotify.com/embed/track/{{ song['song_id'] }}?utm_source=generator"
          width="100%"
          height="80"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        ></iframe>
      {% endfor %}
    </div>
  </div>
</article>

{% endblock content %}
